# macOS
.DS_Store

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android SDK
local.properties

# IDE
*.iml
*.iws
*.ipr
out/

# Kotlin
.kotlin/

# Android build extras
captures/
.externalNativeBuild
.cxx
